@charset "utf-8";
/* CSS Document */
ul.ap_pagination *, ul.ap_pagination:before *, ul.ap_pagination:after *{
	box-sizing:border-box;
}
ul.ap_pagination {
	background: none repeat scroll 0 0 #FFF;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 0px 0px 20px 0px;
	border-top: 0;
	width: 100%;
	clear: both;
	margin: 10px 0;
}
ul.ap_pagination li{
	padding:8px 10px;
	margin:0px;
}
ul.layout_V.ap_pagination {
	overflow: hidden;
	width: 28px;	
}
ul.layout_V.ap_pagination li{
	padding:2px 2%;
	margin:0px;
	width:98%;
}
ul.ap_pagination li {
	padding: 0;
	width: 32px;
	margin-bottom: 3px;
	background-color: transparent;
	border: medium none;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	border: 1px solid #ccc;
	min-height:auto;
}
ul.ap_pagination li:a { cursor: pointer; }
ul.ap_pagination li:not(.ap_reset) a,
ul.ap_pagination li small {
	color: #21759b;
	width:auto;
	padding: 2px 4px;
	display: block;
	text-align:center;
	font-size: 14px;
}
ul.ap_pagination li:active, 
ul.ap_pagination li:visited{
	background-color: #e78e1b;
}
ul.ap_pagination li:active, 
ul.ap_pagination li:visited,
ul.ap_pagination li:not(.ap_reset) a:hover,
ul.ap_pagination li:not(.ap_reset) a.selected{
    background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	padding: 2px 4px;
}
ul.ap_pagination li.ap_reset a.selected,
ul.ap_pagination li.ap_reset a:hover{
	background-color: transparent;	
}
ul.ap_pagination li.ap-empty {
	line-height: 26px;
	opacity: 0.8;
	padding: 1px 4px;
	color:#ccc;
}